{% extends ('base.html.twig') %}

{% block title %}
    Inicio Sesion
{% endblock %}

{% block body %}

    <img src="{{ asset('images/sayayin.jpg') }}" class="rounded float-end" alt="sayayin">

    <div class="box">
        <div class="row">
    <h1>Inicio de Sesion</h1>
    {{form_start(form)}}
    <div class="form-group col-lg-10">
        {{form_row(form.email)}}
    </div>
    <div class="form-group col-lg-10">
        {{form_row(form.pass)}}
    </div>
        {{form_widget(form.submit)}}
    {{form_end(form)}}
        </div>
    </div>
{% endblock %}